/* Center alignment and styles for the about section */
.about {
  text-align: center;
  margin-top: 80px;
}

/* Styles for the profile section */
.profiles {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Styles for the profile images */
.profiles img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
button {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

/* Button styling for dark mode */
body.dark-mode button {
  background-color: #444;
  color: white;
}

body.dark-mode button:hover {
  background-color: #666;
}
