<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/">Home</a>
    <a *ngIf="isLoggedIn && !isAdmin" routerLink="/catalog">Catalog</a>
    <a *ngIf="isLoggedIn && !isAdmin" routerLink="/cart">Cart</a>
    <a *ngIf="isAdmin" routerLink="/manage-products">Manage Products</a>
    <a *ngIf="isAdmin" routerLink="/manage-users">Manage Users</a>
  </div>

  <div class="nav-right">
    <a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
    <a *ngIf="!isLoggedIn" routerLink="/register">Register</a>

    <ng-container *ngIf="isLoggedIn">
      <a routerLink="/profile">Profile</a>
      <button (click)="logout()">Logout</button>
    </ng-container>
  </div>
</nav>
