<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/" (click)="navigate('/')">Home</a>
    <a *ngIf="isLoggedIn && !isAdmin" (click)="navigate('/catalog')">Catalog</a>
    <a *ngIf="isLoggedIn && !isAdmin" (click)="navigate('/cart')">Cart</a>
    <a *ngIf="isAdmin" (click)="navigate('/manage-products')"
      >Manage Products</a
    >
    <a *ngIf="isAdmin" (click)="navigate('/manage-users')">Manage Users</a>
  </div>

  <div class="nav-right">
    <a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
    <a *ngIf="!isLoggedIn" routerLink="/register">Register</a>

    <ng-container *ngIf="isLoggedIn">
      <a (click)="navigate('/profile')">Profile</a>
      <button (click)="logout()">Logout</button>
    </ng-container>
  </div>
</nav>
