<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-orange text-white">
      <h3>User Details</h3>
    </div>
    <div class="card-body">
      <div class="text-center mb-4">
        <img [src]="user?.image" alt="User Image" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
      </div>
      <p *ngIf="user?.email"><strong>Email:</strong> {{ user?.email }}</p>
      <p *ngIf="user?.fullName"><strong>Full Name:</strong> {{ user?.fullName }}</p>
      <p *ngIf="user?.birthDate"><strong>Birth Date:</strong> {{ user?.birthDate | date:'dd/MM/yyyy' }}</p>
      <p *ngIf="user?.gender"><strong>Gender:</strong> {{ user?.gender }}</p>

      <p><strong>Role:</strong> 
        <span *ngIf="user?.isAdmin; else regularUser" class="text-danger">Admin</span>
        <ng-template #regularUser><span>User</span></ng-template>
      </p>
    </div>
  </div>
</div>
