<h2>Featured Products</h2>

<div *ngIf="popularProducts.length; else noProducts" class="featured-container">
  <div *ngFor="let product of popularProducts" class="product-card">
    <img
      [src]="product.image || 'assets/default-product.png'"
      [alt]="product.name"
      width="150"
    />
    <h3>{{ product.name }}</h3>
    <p>${{ product.price.toFixed(2) }}</p>
    <button [routerLink]="['/catalog']" *ngIf="isLoggedIn">View</button>
  </div>
</div>

<ng-template #noProducts>
  <p>No products to show.</p>
</ng-template>
